@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink 1.5s linear infinite;
  }
  @keyframes slide-up-continuous {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    25% {
      transform: translateY(0);
      opacity: 1;
    }
    75% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .animate-slide-up-continuous {
    display: flex;
    flex-direction: column;
    animation: slide-up-continuous 10s linear infinite;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
  }
  
  .marquee.paused {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  